rest-model/src/main/resources/xsd/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CustomerListDTO" type="CustomerListDTO"/>
    <xs:complexType name="CustomerDTO">
        <xs:sequence>
            <xs:element type="xs:string" name="firstname" minOccurs="0"/>
            <xs:element type="xs:string" name="lastname" minOccurs="0"/>
            <xs:element type="xs:string" name="customerUrl" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CustomerListDTO">
        <xs:sequence>
            <xs:element type="CustomerDTO" name="customers" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>